
{% load static %}
{% include 'pages/navbar.html' %}
{%block content%} 




<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loreto Family Apartment </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}">
    <link rel="icon" type="images/x-icon" href="{% static '/images/dcit.jpg'%}">
    <script src="https://cdn.tailwindcss.com"></script>
 
</head>

<body>

    <img class="max-w-10 " src = "{% static 'images/dcit.jpg' %}" alt="logo" width="150px" height="150px">

</body>
</html>


   
    

{%endblock%}