
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0px;
    background-color: khaki;
    color:black;
}
   
    
    
    header {
        background-color:peru;s
        padding: 20px;
        color:black;
        text-align: center;
    }
    
    h1 {
        margin-bottom: 0;
    }
    
    
    
    h2 {
        color: blue;
    }
    
    p {
        line-height: 1.6;
    }